.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}
.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

body{
  background: black;
}

.questions {
  font-size: 20px;
  background-color: #1b1b1b; /* Dark background */
  color: white;
  padding: 15px;
  /* margin-bottom: 10px; */
  /* border-radius: 10px; Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.questions:hover {
  background-color: #101010; /* Dark blue on hover */
}

.Answers {
  background-color: #1b1b1b;; /* Light gray background */
  color: rgb(255, 255, 255);
  padding: 15px;
  /* border-radius: 10px; Rounded corners */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  display: none;
}




.unhideAns{

  transition: 0.3s !important ;
  display: block !important ;

}